/* .welcome {
    display: flex;
    padding-bottom: 2000px;
} */

.post-title {
  max-width: 500px;
  overflow-wrap: break-word;
  margin-top: 5px;
  margin-bottom: 5px;
}

.text-overflow-container{
  width: 100%;
  /* height: fit-content; */
  /* background-color: red; */
  overflow: hidden;
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */

}

.each-post {
  display: flex;
  background-color: white;
  color: black;
  margin-bottom: 20px;
  /* width: 1000px; */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px black;
  border: 1px solid black;
  flex-direction: column;
  width: fit-content;
}


/* .search-bar {
  display: flex;
  height: 5px;
  width: 300px;
  padding: 13px;
  text-align: left;
  background-color: #4d6184;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
} */

.post-description {
  display: flex;
  width: 500px;
  /* overflow-wrap: break-word; */
  /* overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap; */
  /* text-overflow: ellipsis; */

  word-break: break-all;
}

.follow {
  /* height: fit-content;
  margin-left: 15px; */
  text-decoration: none;
  color: #007bff;
  margin-left: 15px;
  font-weight: bold;
}

.follow:hover {
  text-decoration: underline;
}
.follow:hover {
  cursor: not-allowed;
}

.reply {
  cursor: pointer;
  width: fit-content;
  background: none;
  border: none;
  padding: 0;

}

.like {
  cursor: pointer;
  width: fit-content;
  background: none;
  border: none;
  padding: 0;

}
.like:hover {
  cursor: not-allowed;
}

.reblog {
  cursor: pointer;
  width: fit-content;
  background: none;
  border: none;
  padding: 0;

}
.reblog:hover {
  cursor: not-allowed;
}
.share {
  cursor: pointer;
  width: fit-content;
  background: none;
  border: none;
  padding: 0;
}
.share:hover {
  cursor: not-allowed;
}

.delete-post {
  cursor: pointer;
  width: fit-content;
  background: none;
  border: none;
  padding: 0px;
  /* border: 1px solid red; */
  /* z-index: 2; */
}

.edit-post {
  cursor: pointer;
  width: fit-content;
  background: none;
  border: none;
  padding: 0;
}

.notes-like-reply-delete-reblog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border-top: 1px solid #BBBBBB;
  padding-top: 10px;
}

.feature-icons {
  display: flex;
  gap: 20px;

}

.name-follow {
  display: flex;
  align-items: center;
}

.user-name {
  font-weight: bold;
}

.post-header {
  display: flex;
  justify-content: space-between;
}

.post-image {
  width: 500px;
  height: auto;
  cursor: pointer;
}

.notes {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 40px;
  cursor: pointer;
  border-color: #BBBBBB;
  width: 110px;
  height: 35px;
  text-align: center;
}

.notes-count {
  font-weight: bold;
  color: black;
}

.notes-word {
  color: #BBBBBB;
}

.all-posts {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  border-left: 1px solid #21374F;
  padding-left: 8px;
  padding-right: 8px;
  /* margin-left: 538px; */
  border-right: 1px solid #21374F;
  /* margin-right: 538px; */
  margin: 0 auto;
  top: 0;
}
.right-main-wrapper {
  position: static;
  z-index: 60;

}

.post-date {
  color: #BBBBBB;
  margin-top: -10px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.delete-edit {
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: center;
  gap: 20px;
  margin-right: 45px;

}

.home-page {
  /* display: flex; */
  margin: 0 auto;
  /* width: 100%; */
  /* justify-content: center; */
  /* border: 3px solid red */
}
