.create-post-modal {
    display: flex;
    flex-direction: column;
    height: 310px;
    background-color: #001935;
    border-radius: 10px;
}

.title-input {
    width: 316px;
    margin-top: 20px;
    height: 30px;
    border-radius: 10px;
    background-color: #C4E1EB;
    padding-left: 5px;
}

.title-input::placeholder {
    color: black
}

.fileInput {
    /* padding-left: 20px; */
}

.image-label {
    width: fit-content;
    /* margin-left: 20px; */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-label {
    width: fit-content;
    padding-left: 60px;
    padding-top: 5px;
}

.create-post-form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.create-post-modal-button {
    background-color: #00B8FF;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    border: none;
    width: 125px;
    height: 30px;
    margin-top: 10px;
}

.create-post-modal-button:hover {
    cursor: pointer;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0);
}

.create-post-modal-button:enabled {
    border: none
}
