.signup-modal {
    display: flex;
    flex-direction: column;
    height: 290px;
    width: 250px;
    background-color: #001935;
    border-radius: 10px;
    align-items: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username-input {
    width: 225px;
    margin-bottom: 20px;
}

.errors2 {
    color: red;
    position: fixed;
    font-size: 14px;
    padding-top: 92px;
}

.error {
    position: absolute;
    color: red;
    /* position: sticky; */
    font-size: 14px;
    /* padding-top: 134px; */
    display: flex;
    align-items: end;
    margin-top: 145px;
    margin-bottom: 4px;
    /* height: 148px; */
    z-index: 2;

}

.error-username {
    position: absolute;
    color: red;
    font-size: 14px;
    display: flex;
    align-items: end;
    margin-top: 64px;
    margin-bottom: 4px;
    z-index: 2;
}

.confirmPassword-input {
    width: 225px;
    margin-bottom: 8px;
    z-index: 0;
}

.signup-button1 {
    background-color: #00B8FF;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    border: none;
    width: 75px;
    height: 30px;
    margin-bottom: 8px;
    margin-top: 12px;
}

.signup-button1:hover {
    cursor: pointer;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0);
}

.signup-button1:enabled {
    border: none
}
