.profile-dropdown {
  position: absolute;
}

.profile-button {
  display: flex;
  padding-left:250px;
  color: red

}

.logo {
  display: flex;
  padding-left: 350px;
  margin-top: 30px;

}

.wumblr-logo {
  height: 20px;
  width: 100px
}
